@use 'card';
@mixin card-btn($color:white, $size:2rem){
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color;
    border-radius: 50%;
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    z-index: 2;
    transition: visibility 0s, opacity 0.3s ease-in;
    visibility: hidden;
    opacity: 0;
}

@mixin visibility{
    display: flex;
    visibility: visible !important;
    opacity: 100% !important;
    justify-content: center;
    align-items: center;
}

@media (hover: none){
    .card-container .left-btn, 
    .card-container .right-btn{
        @include visibility;
    }
}

@media screen and (min-width:500px) and (max-width:1024px){
    .card-container{
        width: calc((100% - 8px)/2) !important;
    }
    
}

@media screen and (max-width:500px) {
    .card-container{
        width: 100% !important;
    }
}

.title{
    font-family: card.$font-stack;
    font-weight: 200;
    font-size: 30pt;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 20px;
    border-bottom: solid card.$accent-color 2px;
}

.card-container{
    position: relative;
    width: calc((100% - 24px)/4);
}

.product-link{
    width: 100%;
}


.catalog{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px;
    gap: 8px;
}

.card-container:hover .left-btn, .card-container:hover .right-btn{
    @include visibility();
    
}



.left-btn{
    @include card-btn;
    bottom: 125px;
    left: 10px;
    img{
        margin-top: 2.7px;
        width: 30px;
        height: 23px;
    }
}

.right-btn{
    @include card-btn($color:black);
    bottom: 125px;
    right: 10px;
    // margin-right: 1.5rem;
    
    img{
        width: 30px;
        height: 23px;
        
    }
}

