@use 'card';
@use 'catalog';


@media (hover: none){
    .landing-page-card .landing-page-left-btn, 
    .landing-page-card .landing-page-right-btn{
        @include catalog.visibility;
    }
     p.words:after{
        visibility: hidden;
    }
    .display-container{
        width: 100vw !important;
    }
}

@media screen and (max-width:700px) and (min-width:500px) {
    p.words{
        font-size:40px
    }
    a.home-img,a.home-middle, div.carousel-root .slide img{
        aspect-ratio: 2.5/1.5;
    }
}

@media screen and (max-width:550px){
    p.words{
        font-size:30px;
    }
    a.home-img,a.home-middle, div.carousel-root .slide img{
        aspect-ratio: 2.5/1.5;
    }
    .header-display-container div.display-container-btns{
        display: none;
    }
    .carousel-root .slide p.fall{
        padding: 0 10px;
        margin-top: 10px;
    }
    .carousel-root .slide p.summer{
        padding: 0 10px;
        margin-bottom: 5px;
    }
    .home-img.necklace p.words{
        padding: 0 10px;
        margin-bottom: 5px;
    }
    .home-middle p.words{
        padding: 0 10px;
        margin-right: 5px;
    }
    .home-img.about-us p.words{
        padding: 0 10px;
        margin-top: 5px
    }
}


.landing-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.carousel-root{
    overflow: hidden;
    width: 100%;
    .slide{
        p{
            position: absolute;
        }
        .fall{
            padding: 0 30px;
            margin-top: 30px;
        }
        .summer{
            bottom: 0;
            right: 0;
            padding: 0 30px;
            margin-bottom: 30px;
        }
        img{
            aspect-ratio: 2.5/1;
            width: 100%;
            height: 100%;
            overflow: hidden;
            object-fit: cover;
        }
    }
}

.display-container{
     padding: 30px 20px;
     width: calc(100vw - 15px);
     display: flex;
     flex-direction: column;
}


.header-display-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .container-heading{
        padding-right: 30px;
        font-weight: 200;
    }

    .display-container-btns{
        display: flex;
        
        height: 30px;
        gap: 40px;
        button{
            width: 25px;
        }}
        img{
            width: inherit;
        }
        button:disabled{
            cursor: auto;
        }
    }



.landing-page-card-container{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    justify-content: space-between;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-snap-align: center;
    gap:24px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    .landing-page-card{
        min-width: min(85%, 400px);
        position: relative;
    }

    .card{
        height: 100%;
        width: 100%;
    }
}

.landing-page-card-container::-webkit-scrollbar{
    display: none;
}

.landing-page-card:hover .landing-page-left-btn, .landing-page-card:hover .landing-page-right-btn{
    @include catalog.visibility
}

.home-img{
    width: 100%;
    height: 100%;
    aspect-ratio: 2.7/1;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
  
}

.words{
    background-color: rgb(0, 0, 0,.6);  
    color: white;
    font-size: 50px;
    font-weight: 200; 
}

.home-img:hover .words:after, .home-middle:hover .words:after, .slide:hover .words:after{
    width: 100%;
}

.words:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.home-img.necklace{
    align-items: flex-end;
    justify-content: end;
    p{
        padding: 0 30px;
        margin-bottom: 30px;
    }
}
.home-img.about-us{
    align-items: baseline;
    p{
        padding: 0 30px;
        margin-top: 30px;
    }
}

.home-middle{
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 2.7/1;
    position: relative;
    justify-content: space-evenly;
    div{
        width: calc(100/3 * 100%);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;;
    }

    .words{
        position: absolute;
        right: 0;
        padding: 0 30px;
        margin-top: 30px;
    }
}

.landing-page-left-btn{
    @include catalog.card-btn;
    bottom: 82px;
    left: 8px;
    img{
        width: 2rem;
        height: 23px;
    }
}

.landing-page-right-btn{
    @include catalog.card-btn($color:black);
    bottom: 82px;
    right: 8px;
    
    img{
        width: 2rem;
        height: 23px;
        
    }
}
