@use 'card';


@mixin password-show-btn {
    position: absolute; 
    right: 10px;
    margin-top: 16px;
    background: none;
    border: 0; 
    cursor: pointer;
    padding: 0;
}

.sign-in-btn-container{
    display: flex;
    gap: 20px;
    button{
        font-size: 20px;
    }
    button::after{
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: card.$accent-color;
        transition: width .3s;
    }
    button:hover:after{
        width: 100%;
    }
    .active::after{
        width: 100% !important; 
    }
}

.sign-in{
    background-color: white;
    position: relative;
    flex-direction: column;
    display: flex;
    min-width: 450px;
    aspect-ratio: 1.2/1.5;
    max-width: 40rem;
    align-items: center;
    justify-content: center;
}

.sign-in-close{
    top: 0;
}

.sign-in-form ,.sign-up-form-scroll{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 90%;

    .sign-up-form{
        height: 100%;
        width: 100%;
        padding-top: 30px;
    }
    .input-container.error{
        input{
            border: rgb(188, 11, 11) solid 1px;
        }
       
    }
    .password-input-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .input-container{
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        width: 100%;
        gap: 10px;
        span{
            color: rgb(188, 11, 11);
        }
    
        input{
            height: 50px;
            font-size: 15px;
            padding: 10px;
            border: black solid 1px;
        }   

        p{
            margin-top: -5px;
            color: rgb(188, 11, 11);
        }

        
        .password-container{
            display: flex;
            position: relative;
            input{
                flex-grow: 1;
            }
            button{
            @include password-show-btn()
            }
        }
    }

    .sign-in-submit,.sign-up-submit{
        background-color: card.$accent-color;
         display: inline-block;
        width: 86%;
        height: 40px;
        font-size: 15px;
    }
}


.remember-me-container{
    display: flex;
    padding-left: 30px;

    #remember-me-checkbox{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        appearance: none;
    }
    
    #remember-me-checkbox::before{
        content:""; 
        display:inline-block;
        border: 1px black solid;
        height: 17px;
        width: 17px;
        margin-right: 5px;
    }
    
    #remember-me-checkbox:checked:before{ 
        background: url('../../assets/imgs/svg-imgs/done_FILL0_wght200_GRAD0_opsz48.svg')no-repeat ;
        background-size: contain;
    }
    label{
        font-size: 16px;
        font-weight: 200;
    }
    
}

.sign-up-form-scroll{
overflow-y: scroll;
overflow-x: hidden;
    .server-error{
        color:rgb(188, 11, 11) ;
        padding-left: 30px;
    }
}
.sign-up-submit{
    margin: 30px;
}


@media screen and (max-width:640px){
    .sign-in{
        width: 100%;
        aspect-ratio: 1.3/1;
        height: 85dvh;
        height: 85vh;
        min-width: 400px ;
    }
    .sign-in-close{
        margin-right: 15px;
    }
}