.pagination-container {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
  
    .pagination-item {
        padding: 0 12px;
        height: 32px;
        text-align: center;
        margin: auto 4px;
        color: rgba(0,0,0,.87);
        display: flex;
        align-items: center;
        letter-spacing: .01071em;
        border-radius: 5px;
        line-height: 1.43;
        font-size: 13px;
        min-width: 32px;
  
      &.dots:hover {
        background-color: transparent;
        cursor: default;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
        cursor: pointer;
      }
  
      &.selected {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }

    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 32px;
      height: 32px;
      img{
        min-width: 27px;
        height: 27px;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        
        cursor: pointer;
      }
      &.disabled {
        pointer-events: none;
  
  
        &:hover {
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }
  