@use 'card';

@media screen and (max-width:655px){
    .reviews-section { 
    div.histogram-container{
        width: 100%;
    }
    .overall-rating-header{
        margin-left: 0 !important;
    }}
  
}

@media screen and (max-width:640px){
    .review-form-container{
        width: 100% !important;
        aspect-ratio: 1.1/1.4 !important;
        min-width: 400px !important;
        height: 85dvh;
        height: 85vh;

        .review-form-close{
            margin-right: 15px;
            margin-top: 9px;
        }
    }
}


@media screen and (max-width:1050px) {

    .product-page{
        flex-direction: column;
    }
    .product-img-container{
        max-width: 100%
    }
    .product-info{
        margin-top: 20px;
    }
    .product-images{
        width: 100% !important;
    }
    
    .reviews-section .reviews-header{
        justify-content: flex-start !important;
        .open-review-modal{
            align-items: flex-start !important;
            margin-left: 0px !important;
            p{
                margin-left: 4px;
                
                
            }
        }
        .review-header-left{
            width: 100% !important; 
            margin-bottom: 50px;
            
        }
    }
    .reviews-body .reviews-list .review{
        display: block;
        padding: 30px 10px 70px;
        .review-post-by-container{
            .review-posted-by{
                position: absolute;
                margin: 30px 0;
                padding: 0;
                top: auto;
                bottom: 0;
                font-size: 14px;
                font-weight: bold;
            }
            .star-rating-container.review-single{
                margin-left: 10px ;
            }
            .review-posted-date{
                font-size: 14px;
                bottom: 30px;
                top: auto;
            }
        }
        .review-details{
            .review-description{
                font-size: 14px;
            }
        } 
    }

}





.product-page{
    display: flex;
    align-content: center;
    gap: 20px;
    margin: 30px;
}


.gallery{
    display: flex;
    gap: 20px;
}

.product-images{
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    width: 70%;
    

    .product-img-container{
        width: 100%;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        display: block;
    }
    .product-img{
        aspect-ratio: 1/1.2;
        overflow: hidden;
        

        img{
            object-fit: cover;
        }
        div{
            z-index: 3 !important;
        }
    }

}

#react-image-magnify-portal-1841{
    div{
        z-index: 4 !important;
    }
}

.image-button{
    img{
        height: 110px;
        width:110px;
        object-fit: cover;
    }
}

.product-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
   .first-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
        .add-product-favorites{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            img{
                width: inherit;
            }
        }
   } 

   .add-to-bag{
    width: 100%;
    background-color: card.$accent-color ;
    height: 50px;
    font-size: 1.2rem;
    color: white;
   }



   .product-price{
    font-size: 20px;
    word-spacing: 10px;
        s{
            color: gray;
        }
   }
   
}

.magnify-container{
    img{
        object-fit: cover;
    }
}



    

.left-count-btn{
    left: 0;
    top: 50%;
    right: 1;
    position: absolute;
    width: 30px;
    height: 30px;

    img{
        width: inherit;
    }
}

.right-count-btn{
    left: 1;
    top: 50%;
    right: 0;
    position: absolute;
    width: 30px;
    height: 30px;

    img{
        width: inherit;
    }
}

    
.empty-page{
    height: 100vh;
}




.star-rating-container{
    display: flex;
    
}

.product-rating-top-page{
    display: flex;
    margin-bottom: 20;
    margin-top: -25px;
    align-items: center;
    gap: 5px;
    button{
        font-size: 15px;
        &:hover{
            text-decoration: underline;
        }
    }
}

// Review Header

.reviews-section{
    padding-top: 120px;
    margin: 0px 30px 70px 30px;
    h2{
        font-size: 35px;
        margin-bottom: 15px;
    }
    .reviews-header{
        padding: 15px 0;
        margin-bottom: -70px;
        border-top: 1px solid rgb(203, 202, 202);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        .review-header-left{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 65%;
            max-width: 900px;
        }
        .overall-rating-header{
            margin: 20px 20px 0 20px;
            width: auto;
        }

        .overall-rating-header-right{
            display: flex;
            align-items: center;
            gap: 10px;
            p{
                font-size: 40px;
            }
        }
        .open-review-modal{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: -20px;
            p{
                margin-bottom: 10px;
                font-weight: bold;
            }
            div{
                display: flex;
                margin-bottom: 15px;
                gap: 2px;
                svg{
                    cursor: pointer;
                }
                input{
                    display: none;
                }
            }
        }
    }
    .histogram-container{
        margin-top: 20px;
        min-width: 290px;
        width: 65%;
        max-width: 700px;
        .histogram-title{
            margin-bottom: 10px;
            font-weight: bold;
        }
        .singular-bar{
            display: flex;
            align-items: center;
            gap: 10px;
        .histogram{
            align-items: center;
        }
        }
        .bar{
            flex: 1 1 0%;
            width: 100%;
            height: 9px;
            border-radius: 10px;
            background-color:#a1a1a1;
            margin-bottom: 2px;
            .rating-bar{
                border-radius: 10px;
                background-color: card.$accent-color;
                height: 100%;
            }
        }
    }
}

// Review Body

.reviews-body{
    .reviews-btn-container{
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        padding-top: 120px;
        div{
            position: relative;
            .dropdown-toggle-btn{
                background-color: #e3e2e2;
                width: 100px;
                height: 45px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 7px;
                img{
                    transform: rotate(0.25turn);
                    height: 20px;
                    width: 20px;
                    transition:ease-out .2s
                }
                &:hover{
                    background-color: #f4f2f2 ;
                    transition: ease-out .2s;
                    
                }
               
            }
            &.active{
                .dropdown-toggle-btn{
                    background-color: card.$accent-color;

                }
                img{
                    transform: rotate(-0.25turn);
                    transition:ease-out .3s
                }
            }
        }
        .dropdown-content{
            overflow: hidden;
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: white;
            width: 180px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
            margin-top: 10px;
            border-radius: 6px;
            transition: max-height .5s ease;
            z-index: 2;
            
            
            .dropdown-btn{
                text-align: start;
                padding: 10px 20px;
                font-size: 16px;
                &:hover{
                    text-decoration: underline;
                }

                &:last-of-type{
                    padding-bottom: 22px;
                }
                &:first-of-type{
                    padding-top: 22px;
                }
            }
        }
    }
    .reviews-button{
        .active-applied{
            display: flex;
            gap: 10px;
            max-width: 350px;
            align-items: center;
            flex-wrap: wrap;
            div{
                display: flex;
                gap: 5px;
                align-items: center;
                outline: #e3e2e2 1.5px solid;
                border-radius: 5px;
                p{
                    padding-left: 10px;
                    text-wrap: nowrap;
                }
                button{
                    font-size: 25px;
                    color: gray;
                    padding-right: 10px;
                    &:hover{
                        color: black;
                    }
                }
            }
            .clear-all-actives{
                &:hover{
                    text-decoration: underline;
                }
                font-size: 16px;
                text-wrap: nowrap;
                padding-left: 3px;
            }

        }
    }
}

.reviews-list{
    margin-top: 50px;
    .review{
            border-top: 1px solid rgb(203, 202, 202);
            display: grid;
            position: relative;
            grid-template-columns: 25% auto;
            padding: 35px 10px 35px;

            .read-more-btn{
                font-size: 15px;
                color: rgb(19, 107, 234);
                margin-top: 5px;
            }
            .review-post-by-container{
                display: flex;
                align-items: center;
                width: 100%;
                .star-rating-container {
                    &.review-single{
                        position: absolute;
                        top:19px;
                        left: 0;
                        margin-left: 25%;
                    }
            }
            .review-posted-by{
                padding: 32px;
            }
            .review-posted-date{
                position: absolute;
                width: auto;
                top: 20px;
                font-size: 16px;
                right: 10px;
            }
        }
            .review-details{
                margin: 10px 0;

                .review-title{
                    font-size: 16px;
                    margin-top: 18px;
                    margin-bottom: 7px;
                }
            }
    }
}



// Review Form

.review-form-container{
    background-color: white;
    aspect-ratio: 1.1/1.45;
    
    min-width: 450px;
    max-width: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;

    .review-form-close{
        top: 0;
    }

    form{
        height: 87%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .star-rating-section{
        input{
            display: none;
        }
        label{
            margin-right: 2px;
        }
        p{
            margin-top: 5px;
            margin-left: 4px;
        }
    }

    .review-section{
        display: flex;
        flex-direction: column;
        gap: 10px;

        &.error{
            label{
                color: rgb(188, 11, 11)
            }
            textarea{
                border: rgb(188, 11, 11) solid 1px;
                
            }
            span{
                color:  rgb(188, 11, 11)
            }
            
        }
        label{
            span{
                color: rgb(188, 11, 11);
            }
        }
        textarea{
            padding: 5px;
            border: black solid 1px;
            resize:none;
            height:180px !important;

        }
        input{
            height: 40px;
            font-size: 15px;
            padding: 10px;
            border: black solid 1px;
        }
    :last-child{
        margin-top: -5px;
        margin-left: auto;
        font-size: 14px;
    }


    }
    .submit-review{
        background-color: card.$accent-color;
        width: 100%;
        height: 40px;
    }
}