.order-details {
  margin: 50px 30px 30px;
}
.order-details h1 {
  font-size: 32px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(203, 202, 202);
}
.order-details .order-details-first-container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0 100px 0;
  gap: 100px;
}
.order-details .order-details-first-container .order-shipping {
  display: flex;
  gap: 30px;
}
.order-details .order-details-first-container .order-shipping .order-shipping-labels {
  display: flex;
  flex-direction: column;
  width: 135px;
  gap: 10px;
}
.order-details .order-details-first-container .order-shipping .order-shipping-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.order-details .order-details-first-container .order-billing {
  display: flex;
  gap: 30px;
}
.order-details .order-details-first-container .order-billing .order-billing-title {
  width: 135px;
}
.order-details h2 {
  font-size: 29px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(203, 202, 202);
}
.order-details .order-summary {
  margin-top: 40px;
  width: 100%;
  max-width: 50rem;
}
.order-details .order-summary div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.order-details .order-summary .order-summary-total {
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 50px;
}
.order-details .order-products-container {
  margin-top: 30px;
}
.order-details .order-products-container .order-products-container-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.order-details .order-products-container .order-products-container-header div:first-child {
  width: 45%;
}
.order-details .order-products-container .order-products-container-header div:not(:first-child) {
  width: 200px;
}
.order-details .order-products-container .order-products-container-list .order-product-single {
  height: 170px;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px rgb(233, 232, 232);
  align-items: center;
}
.order-details .order-products-container .order-products-container-list .order-product-single div:not(:first-child) {
  width: 200px;
}
.order-details .order-products-container .order-products-container-list .order-product-single .order-product-price-container p:first-child {
  color: gray;
  margin-bottom: 2px;
}
.order-details .order-products-container .order-products-container-list .order-product-single .order-product-info {
  display: flex;
  width: 45%;
  align-items: center;
  gap: 30px;
}
.order-details .order-products-container .order-products-container-list .order-product-single .order-product-info p:hover {
  text-decoration: underline;
}
.order-details .order-products-container .order-products-container-list .order-product-single .order-product-info img {
  width: 90px;
}

@media screen and (max-width: 950px) {
  .order-details h1 {
    font-size: 27px;
    text-wrap: wrap;
  }
  .order-details h2 {
    font-size: 23px;
  }
  .order-details .order-products-container {
    margin-top: 0px;
  }
  .order-details .order-products-container .order-products-container-header {
    display: none;
  }
  .order-details .order-products-container .order-products-container-list .order-product-single:first-of-type {
    border-top: none;
  }
  .order-details .order-products-container .order-products-container-list .order-product-single .order-product-info {
    flex-grow: 1;
    align-items: flex-start;
  }
  .order-details .order-products-container .order-products-container-list .order-product-single .order-product-info p {
    margin-top: 10px;
  }
  .order-details .order-products-container .order-products-container-list .order-product-single .order-product-price-container, .order-details .order-products-container .order-products-container-list .order-product-single .order-product-price {
    width: auto !important;
    left: 150px;
    margin-top: 0;
    position: absolute;
    display: flex;
    gap: 4px;
  }
  .order-details .order-products-container .order-products-container-list .order-product-single .order-product-full-price {
    display: none;
  }
  .order-details .order-products-container .order-products-container-list .order-product-single .order-product-quantity {
    width: auto !important;
    left: 150px;
    margin-top: 60px;
    position: absolute;
  }
  .order-details .order-products-container .order-products-container-list .order-product-single .order-product-quantity p::before {
    content: "Qty: ";
  }
}
@media screen and (max-width: 450px) {
  .order-details h1 {
    font-size: 22px;
    text-wrap: wrap;
  }
  .order-details h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 380px) {
  .order-details .order-product-price-container {
    margin-top: 21px !important;
  }
}

/*# sourceMappingURL=order-detail.css.map */
