@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,700;0,800;0,1000;1,200&display=swap");
.card {
  max-width: inherit;
  min-width: inherit;
  width: inherit;
  height: auto;
}
.card .card-img {
  width: 100%;
  position: relative;
}

.jewelry-img {
  aspect-ratio: 1/1.2;
  width: 100%;
  object-fit: cover;
}

.on-sale {
  position: absolute;
  padding-left: 5%;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 5px 10px 5px 5%;
  color: rgb(255, 255, 255);
  background-color: rgb(231, 185, 192);
}

.card-name, .price, .on-sale {
  font-family: "Nunito", sans-serif;
}

.label {
  margin-top: 20px;
  height: 90px;
  overflow: hidden;
}
.label .card-name {
  margin-bottom: 5px;
  font-weight: 200;
}
.label .sale-price {
  word-spacing: 10px;
}
.label s {
  color: gray;
}
.label .price {
  font-weight: 200;
}

.star-rating-container.card {
  display: flex;
  margin-top: 5px;
}

.product-page {
  display: flex;
  align-content: center;
  gap: 20px;
  margin: 30px;
}

.gallery {
  display: flex;
  gap: 20px;
}

.product-images {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  width: 70%;
}
.product-images .product-img-container {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: block;
}
.product-images .product-img {
  aspect-ratio: 1/1.2;
  overflow: hidden;
}
.product-images .product-img img {
  object-fit: cover;
}
.product-images .product-img div {
  z-index: 3 !important;
}

#react-image-magnify-portal-1841 div {
  z-index: 4 !important;
}

.image-button img {
  height: 110px;
  width: 110px;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.product-info .first-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-info .first-container .add-product-favorites {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.product-info .first-container .add-product-favorites img {
  width: inherit;
}
.product-info .add-to-bag {
  width: 100%;
  background-color: rgb(231, 185, 192);
  height: 50px;
  font-size: 1.2rem;
  color: white;
}
.product-info .product-price {
  font-size: 20px;
  word-spacing: 10px;
}
.product-info .product-price s {
  color: gray;
}

.magnify-container img {
  object-fit: cover;
}

.left-count-btn {
  left: 0;
  top: 50%;
  right: 1;
  position: absolute;
  width: 30px;
  height: 30px;
}
.left-count-btn img {
  width: inherit;
}

.right-count-btn {
  left: 1;
  top: 50%;
  right: 0;
  position: absolute;
  width: 30px;
  height: 30px;
}
.right-count-btn img {
  width: inherit;
}

.empty-page {
  height: 100vh;
}

.star-rating-container {
  display: flex;
}

.product-rating-top-page {
  display: flex;
  margin-bottom: 20;
  margin-top: -25px;
  align-items: center;
  gap: 5px;
}
.product-rating-top-page button {
  font-size: 15px;
}
.product-rating-top-page button:hover {
  text-decoration: underline;
}

.reviews-section {
  padding-top: 120px;
  margin: 0px 30px 70px 30px;
}
.reviews-section h2 {
  font-size: 35px;
  margin-bottom: 15px;
}
.reviews-section .reviews-header {
  padding: 15px 0;
  margin-bottom: -70px;
  border-top: 1px solid rgb(203, 202, 202);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.reviews-section .reviews-header .review-header-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
  max-width: 900px;
}
.reviews-section .reviews-header .overall-rating-header {
  margin: 20px 20px 0 20px;
  width: auto;
}
.reviews-section .reviews-header .overall-rating-header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews-section .reviews-header .overall-rating-header-right p {
  font-size: 40px;
}
.reviews-section .reviews-header .open-review-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -20px;
}
.reviews-section .reviews-header .open-review-modal p {
  margin-bottom: 10px;
  font-weight: bold;
}
.reviews-section .reviews-header .open-review-modal div {
  display: flex;
  margin-bottom: 15px;
  gap: 2px;
}
.reviews-section .reviews-header .open-review-modal div svg {
  cursor: pointer;
}
.reviews-section .reviews-header .open-review-modal div input {
  display: none;
}
.reviews-section .histogram-container {
  margin-top: 20px;
  min-width: 290px;
  width: 65%;
  max-width: 700px;
}
.reviews-section .histogram-container .histogram-title {
  margin-bottom: 10px;
  font-weight: bold;
}
.reviews-section .histogram-container .singular-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews-section .histogram-container .singular-bar .histogram {
  align-items: center;
}
.reviews-section .histogram-container .bar {
  flex: 1 1 0%;
  width: 100%;
  height: 9px;
  border-radius: 10px;
  background-color: #a1a1a1;
  margin-bottom: 2px;
}
.reviews-section .histogram-container .bar .rating-bar {
  border-radius: 10px;
  background-color: rgb(231, 185, 192);
  height: 100%;
}

.reviews-body .reviews-btn-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding-top: 120px;
}
.reviews-body .reviews-btn-container div {
  position: relative;
}
.reviews-body .reviews-btn-container div .dropdown-toggle-btn {
  background-color: #e3e2e2;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.reviews-body .reviews-btn-container div .dropdown-toggle-btn img {
  transform: rotate(0.25turn);
  height: 20px;
  width: 20px;
  transition: ease-out 0.2s;
}
.reviews-body .reviews-btn-container div .dropdown-toggle-btn:hover {
  background-color: #f4f2f2;
  transition: ease-out 0.2s;
}
.reviews-body .reviews-btn-container div.active .dropdown-toggle-btn {
  background-color: rgb(231, 185, 192);
}
.reviews-body .reviews-btn-container div.active img {
  transform: rotate(-0.25turn);
  transition: ease-out 0.3s;
}
.reviews-body .reviews-btn-container .dropdown-content {
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 180px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
  margin-top: 10px;
  border-radius: 6px;
  transition: max-height 0.5s ease;
  z-index: 2;
}
.reviews-body .reviews-btn-container .dropdown-content .dropdown-btn {
  text-align: start;
  padding: 10px 20px;
  font-size: 16px;
}
.reviews-body .reviews-btn-container .dropdown-content .dropdown-btn:hover {
  text-decoration: underline;
}
.reviews-body .reviews-btn-container .dropdown-content .dropdown-btn:last-of-type {
  padding-bottom: 22px;
}
.reviews-body .reviews-btn-container .dropdown-content .dropdown-btn:first-of-type {
  padding-top: 22px;
}
.reviews-body .reviews-button .active-applied {
  display: flex;
  gap: 10px;
  max-width: 350px;
  align-items: center;
  flex-wrap: wrap;
}
.reviews-body .reviews-button .active-applied div {
  display: flex;
  gap: 5px;
  align-items: center;
  outline: #e3e2e2 1.5px solid;
  border-radius: 5px;
}
.reviews-body .reviews-button .active-applied div p {
  padding-left: 10px;
  text-wrap: nowrap;
}
.reviews-body .reviews-button .active-applied div button {
  font-size: 25px;
  color: gray;
  padding-right: 10px;
}
.reviews-body .reviews-button .active-applied div button:hover {
  color: black;
}
.reviews-body .reviews-button .active-applied .clear-all-actives {
  font-size: 16px;
  text-wrap: nowrap;
  padding-left: 3px;
}
.reviews-body .reviews-button .active-applied .clear-all-actives:hover {
  text-decoration: underline;
}

.reviews-list {
  margin-top: 50px;
}
.reviews-list .review {
  border-top: 1px solid rgb(203, 202, 202);
  display: grid;
  position: relative;
  grid-template-columns: 25% auto;
  padding: 35px 10px 35px;
}
.reviews-list .review .read-more-btn {
  font-size: 15px;
  color: rgb(19, 107, 234);
  margin-top: 5px;
}
.reviews-list .review .review-post-by-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.reviews-list .review .review-post-by-container .star-rating-container.review-single {
  position: absolute;
  top: 19px;
  left: 0;
  margin-left: 25%;
}
.reviews-list .review .review-post-by-container .review-posted-by {
  padding: 32px;
}
.reviews-list .review .review-post-by-container .review-posted-date {
  position: absolute;
  width: auto;
  top: 20px;
  font-size: 16px;
  right: 10px;
}
.reviews-list .review .review-details {
  margin: 10px 0;
}
.reviews-list .review .review-details .review-title {
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 7px;
}

.review-form-container {
  background-color: white;
  aspect-ratio: 1.1/1.45;
  min-width: 450px;
  max-width: 40rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.review-form-container .review-form-close {
  top: 0;
}
.review-form-container form {
  height: 87%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-form-container .star-rating-section input {
  display: none;
}
.review-form-container .star-rating-section label {
  margin-right: 2px;
}
.review-form-container .star-rating-section p {
  margin-top: 5px;
  margin-left: 4px;
}
.review-form-container .review-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review-form-container .review-section.error label {
  color: rgb(188, 11, 11);
}
.review-form-container .review-section.error textarea {
  border: rgb(188, 11, 11) solid 1px;
}
.review-form-container .review-section.error span {
  color: rgb(188, 11, 11);
}
.review-form-container .review-section label span {
  color: rgb(188, 11, 11);
}
.review-form-container .review-section textarea {
  padding: 5px;
  border: black solid 1px;
  resize: none;
  height: 180px !important;
}
.review-form-container .review-section input {
  height: 40px;
  font-size: 15px;
  padding: 10px;
  border: black solid 1px;
}
.review-form-container .review-section :last-child {
  margin-top: -5px;
  margin-left: auto;
  font-size: 14px;
}
.review-form-container .submit-review {
  background-color: rgb(231, 185, 192);
  width: 100%;
  height: 40px;
}

@media screen and (max-width: 655px) {
  .reviews-section div.histogram-container {
    width: 100%;
  }
  .reviews-section .overall-rating-header {
    margin-left: 0;
  }
}
@media screen and (max-width: 640px) {
  .review-form-container {
    width: 100%;
    aspect-ratio: 1.1/1.4;
    min-width: 400px;
    height: 85dvh;
    height: 85vh;
  }
  .review-form-container .review-form-close {
    margin-right: 15px;
    margin-top: 9px;
  }
}
@media screen and (max-width: 1050px) {
  .product-page {
    flex-direction: column;
  }
  .product-img-container {
    max-width: 100%;
  }
  .product-info {
    margin-top: 20px;
  }
  .product-images {
    width: 100%;
  }
  .reviews-section .reviews-header {
    justify-content: flex-start;
  }
  .reviews-section .reviews-header .open-review-modal {
    align-items: flex-start;
    margin-left: 0px;
  }
  .reviews-section .reviews-header .open-review-modal p {
    margin-left: 4px;
  }
  .reviews-section .reviews-header .review-header-left {
    width: 100%;
    margin-bottom: 50px;
  }
  .reviews-body .reviews-list .review {
    display: block;
    padding: 30px 10px 70px;
  }
  .reviews-body .reviews-list .review .review-post-by-container .review-posted-by {
    position: absolute;
    margin: 30px 0;
    padding: 0;
    top: auto;
    bottom: 0;
    font-size: 14px;
    font-weight: bold;
  }
  .reviews-body .reviews-list .review .review-post-by-container .star-rating-container.review-single {
    margin-left: 10px;
  }
  .reviews-body .reviews-list .review .review-post-by-container .review-posted-date {
    font-size: 14px;
    bottom: 30px;
    top: auto;
  }
  .reviews-body .reviews-list .review .review-details .review-description {
    font-size: 14px;
  }
}

/*# sourceMappingURL=product-page.css.map */
