@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,700;0,800;0,1000;1,200&display=swap");
.card {
  max-width: inherit;
  min-width: inherit;
  width: inherit;
  height: auto;
}
.card .card-img {
  width: 100%;
  position: relative;
}

.jewelry-img {
  aspect-ratio: 1/1.2;
  width: 100%;
  object-fit: cover;
}

.on-sale {
  position: absolute;
  padding-left: 5%;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 5px 10px 5px 5%;
  color: rgb(255, 255, 255);
  background-color: rgb(231, 185, 192);
}

.card-name, .price, .on-sale {
  font-family: "Nunito", sans-serif;
}

.label {
  margin-top: 20px;
  height: 90px;
  overflow: hidden;
}
.label .card-name {
  margin-bottom: 5px;
  font-weight: 200;
}
.label .sale-price {
  word-spacing: 10px;
}
.label s {
  color: gray;
}
.label .price {
  font-weight: 200;
}

.star-rating-container.card {
  display: flex;
  margin-top: 5px;
}

h1 {
  margin-bottom: 15px;
  font-size: 24px;
}

.profile-container {
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 40px;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
.profile-container .profile-details-container {
  width: 350px;
}
.profile-container .profile-details-container h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.profile-container .success-message {
  margin-bottom: 10px;
  color: green;
}
.profile-container .profile-info-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.profile-container .profile-info-container .input-profile {
  display: flex;
  flex-direction: column;
}
.profile-container .profile-info-container .input-profile .password-container {
  position: relative;
}
.profile-container .profile-info-container .input-profile .password-container #password-profile {
  width: 100%;
}
.profile-container .profile-info-container .input-profile .password-container button {
  position: absolute;
  top: 12px;
  right: 10px;
}
.profile-container .profile-info-container .input-profile .error {
  font-size: 14px;
  color: rgb(188, 11, 11);
}
.profile-container .profile-info-container .input-profile span {
  color: rgb(188, 11, 11);
}
.profile-container .profile-info-container .input-profile label {
  margin-bottom: 5px;
}
.profile-container .profile-info-container .input-profile input {
  height: 40px;
  border: black solid 1px;
  padding-left: 5px;
  font-size: 14px;
}
.profile-container .profile-info-container .profile-form-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.profile-container .profile-info-container .profile-form-btns button {
  background-color: rgb(231, 185, 192);
  height: 30px;
  width: 150px;
}
.profile-container .profile-info-container .change-profile {
  background-color: rgb(231, 185, 192);
  width: 200px;
  margin: auto;
  height: 30px;
}
.profile-container .profile-info-container div p:first-of-type {
  margin-bottom: 5px;
}
.profile-container .password-form-container {
  width: 350px;
}
.profile-container .password-form-container h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.profile-container .password-form-container .password-input {
  margin-bottom: 20px;
}
.profile-container .password-form-container .password-input span {
  color: rgb(188, 11, 11);
}
.profile-container .password-form-container .password-input .password-container {
  position: relative;
}
.profile-container .password-form-container .password-input .password-container input {
  margin-top: 5px;
  height: 40px;
  width: 100%;
  padding-left: 5px;
  border: black solid 1px;
}
.profile-container .password-form-container .password-input .password-container button {
  position: absolute;
  right: 10px;
  top: 17px;
}
.profile-container .password-form-container .password-input .error {
  font-size: 14px;
  color: rgb(188, 11, 11);
}
.profile-container .password-form-container .change-password-btn {
  background-color: rgb(231, 185, 192);
  height: 30px;
  width: 200px;
  margin: auto;
  display: block;
}

/*# sourceMappingURL=profile-info.css.map */
